*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

nav ul :hover { 
    background-color: transparent;
    color: red;

}

nav ul li {

    list-style: none;
    display: inline-block;
    margin-left: 100px;
    border: 90px;
    border-radius: 10px;
    background-color: rgb(39, 29, 14);
    height: 40px;
    width: 150px;
    position: relative;
}

nav ul li :hover {
    color: gold;
    background-color: transparent;

}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    align-items: center;
    position: absolute;
    padding: auto;
    margin-top: 10px;
    margin-left: 30px;



}


.content{
    text-align: center;

}

.content h1{
    font-size: 160px;
    color: aliceblue;
    font-weight: 600;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    border: 2px solid aliceblue;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: transform 0.3s , background-color 0.3s ;


}

.content a :hover {
    transform: translateY(-10px);
    background-color: rgb(46, 26, 10);
    color: goldenrod;


}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;


}

video {
    min-width: 0;
    min-height: 0;
    z-index: -1;
    max-height: 100;
    max-width: 100;

}

.center {
    background-image: linear-gradient(45deg , rgb(61, 49, 24) , rgb(24, 23, 14) );
    background-size: cover;
    
}

.center h1 {

    color: aliceblue;
    font-size: 60px;
    
}

.center p {

    color: aliceblue;
    font-size: 20px;
}

.section1 img {
    height: 300px;
    width: 300;
    border: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.section1 p {
    margin-left: 50px;
}

.section1 {

    background-image: linear-gradient(45deg , rgb(90, 72, 11), black );
    border: 90px;
    border-radius: 10px;
}

.section2 img {
    height: 300px;
    width: 300;
    border: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 250px;
}

.section2 p {
    margin-left: 50px;
}

.section2 {

    background-image: linear-gradient(45deg , rgb(90, 72, 11), black );
    border: 90px;
    border-radius: 10px;
}

.section2 h6 { 
    color: aliceblue;
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
}

.section3 img {
    height: 300px;
    width: 300;
    border: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.section3 p {
    margin-left: 50px;
}

.section3 {

    background-image: linear-gradient(45deg , rgb(90, 72, 11), black );
    border: 90px;
    border-radius: 10px;
}

.section4 img {
    height: 300px;
    width: 300;
    border: 90px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 250px;
}

.section4 p {
    margin-left: 50px;
}

.section4 {

    background-image: linear-gradient(45deg , rgb(90, 72, 11), black );
    border: 90px;
    border-radius: 10px;
}

.section4 h6 { 
    color: aliceblue;
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
}

.testmonies h1 {

    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
    animation: slidein 2s;
}

@keyframes slidein {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translate(100%);
    }

}

.testmonies h3 {
    color: aliceblue;
    margin-left: 20px;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 3px;
}

.testmonies h5 {
    color: aliceblue;
    margin-left: 150px;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 3px;
    

}


.testmonies h6 {
    color: aliceblue;
    margin-left: 200px;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 3px;
}

.footer h1 {

    color:aliceblue;
    font-size: 25px;
    font-weight: bold;
    


}

.footer h2 {

    color: aliceblue;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 20px;
}

.footer {

    background-image: linear-gradient(45deg , rgb(59, 50, 11) , rgb(102, 89, 29) );

}


.footer h3 {

    color: aliceblue;
}

.s1 {

    margin-left: 20px;
}

.map {
    border: 10px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin-left: 205px;
    position: relative;
}

.footer i {
    color: aliceblue;
    margin-left: 200px;
    font-size: 10px;
    text-transform: lowercase;
     
}

#h1main{
    font-size: 70px;
    animation: textanimation 3s;
}
@keyframes textanimation {
    0%{
        font-size:15px;
    }
    100%{
        font-size:70px;
    }
}